@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap");
.surface-container-lowest {
  background-color: #ffffff;
}

.surface-container-low {
  background-color: #fafafa;
}

.surface-container {
  background-color: #F8F8F8;
}

.surface-container-high {
  background-color: #F6F6F6;
}

.surface-container-highest {
  background-color: #F3F4F4;
}

.surface-bright {
  background-color: #FCFCFC;
}

.surface {
  background-color: #F9F9F9;
}

.surface-dim {
  background-color: #E3E4E4;
}

.color-primary-pair {
  color: #E8FAFE;
  background-color: #2E039A;
}

.color-secondary-pair {
  color: #FBE8E9;
  background-color: #E30005;
}

.color-teriary-pair {
  color: #001318;
  background-color: #01C7FE;
}

.color-primary-container-pair {
  color: #CFCCD8;
  background-color: #12013D;
}

.color-secondary-container-pair {
  color: #ECE6E6;
  background-color: #430001;
}

.color-tertiary-pair {
  color: #001318;
  background-color: #01C7FE;
}

.color-tertiary-container-pair {
  color: #171818;
  background-color: #EBFAFE;
}

.color-neutral-pair {
  color: #333;
  background-color: #8D9294;
}

.color-neutral-variant-pair {
  color: #333;
  background-color: #CFD2CF;
}

.color-error-pair {
  background-color: #D41121;
  color: #FAE7E9;
}

.color-warning-pair {
  background-color: #FFBA1A;
  color: #FFF8E8;
}

.color-success-pair {
  background-color: #58C322;
  color: #EEF9E9;
}

.color-error-container-pair {
  background-color: #D41121;
  color: #2A0306;
}

.color-warning-container-pair {
  background-color: #FFE3A3;
  color: #332505;
}

.color-success-container-pair {
  background-color: #BCE7A6;
  color: #112706;
}

.color-palette .palette-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0.5em;
  border: 1px dotted #CFD2CF;
}
.color-palette .palette-container div {
  border: 2px solid #8D9294;
  width: 15em;
  min-height: 10em;
  padding: 0.5em;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: "Noto Sans", san-serif;
  color: #333;
  background-color: #EBFAFE;
  background: linear-gradient(90deg, #EBFAFE 5%, #CFD2CF 45%, #CFD2CF 55%, #EBFAFE 95%);
}

h1, h2, h3, h4, h5, h5 {
  margin: 0;
}

address, article, aside, blockquote, canvas, dd, div,
dl, dt, fieldset, figcaption, figure, footer, form,
h1, h2, h3, h4, h5, h6, header, hr, li, main, nav,
noscript, ol, p, pre, section, table, tfoot, ul, video {
  overflow: auto;
  box-sizing: border-box;
}

body > header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  min-height: 15vh;
  background-color: #2E039A;
  color: #E8FAFE;
  box-shadow: 0 0.25em 0.5em 0 #CFD2CF;
  border-bottom: 1px solid #8D9294;
}

body > header > nav {
  font-family: "Titillium Web", sans-serif;
}

#site_icon {
  width: 10vh;
  height: 10vh;
}

#masthead {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 0.9em;
  font-family: "Red Hat Display", sans-serif;
  width: 100%;
}

main {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 0 1em;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 75vh;
}

main section {
  margin-bottom: 2em;
}

main section section {
  margin-bottom: 1em;
}

main section section section {
  margin-bottom: 0.5em;
}

p {
  margin: 0 0 1em 0;
}

main h1 {
  font-family: "Titillium Web", sans-serif;
}

.outer-border-box {
  max-width: 1200px;
  margin: 0 auto;
}

.left-nav-group {
  float: left;
}

.left-nav-group > li {
  padding: 0 1em;
  border-left: 1px solid #CFD2CF;
}

.left-nav-group > li:last-child {
  border-left: none;
  padding-left: 0;
}

.right-nav-group {
  float: right;
}

.right-nav-group > li {
  padding: 0 1em;
  border-right: 1px solid #CFD2CF;
}

.right-nav-group > li:last-child {
  border-right: none;
  padding-right: 0;
}

ul.horizontal-list {
  margin: 0.25em;
  list-style: none;
  padding: 0;
  display: flex;
}

body > header > nav {
  color: #FBE8E9;
  background-color: #E30005;
}

footer {
  box-shadow: 0 -0.25em 0.5em 0 #CFD2CF;
  border-top: 1px solid #CFD2CF;
  min-height: 10vh;
  color: #001318;
  background-color: #01C7FE;
  font-family: "Red Hat Display", sans-serif;
  width: 100%;
  padding: 1em;
}

footer > .outer-border-box > nav {
  margin: 0 0 1em 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

footer > .outer-border-box > nav ul {
  margin: 0;
  padding: 0;
  font-size: 0.8em;
}

#copyright_container {
  text-align: center;
  font-size: 0.8em;
}

/*# sourceMappingURL=main.css.map */
