{% block footer %}
    <footer>
        <div class="outer-border-box">
            <nav>
                <section>
                    <header>
                        <h4>First Column</h4>
                    </header>
                    <ul>
                        <li>First Item</li>
                        <li>Second Item</li>
                        <li>Third Item</li>
                    </ul>
                </section>
                <section>
                    <header>
                        <header>
                            <h4>Second Column</h4>
                        </header>
                    </header>
                    <ul>
                        <li>First Item</li>
                        <li>Second Item</li>
                        <li>Third Item</li>
                    </ul>
                </section>
                <section>
                    <header>
                        <h4>Third Column</h4>
                    </header>
                    <ul>
                        <li>First Item</li>
                        <li>Second Item</li>
                        <li>Third Item</li>
                    </ul>
                </section>
                <section>
                    <header>
                        <header>
                            <h4>Fourth Column</h4>
                        </header>
                    </header>
                    <ul>
                        <li>First Item</li>
                        <li>Second Item</li>
                        <li>Third Item</li>
                    </ul>
                </section>
            </nav>
            <div id="copyright_container">
                {# Do no insert user provided content into the copyright statement with the 'safe' filter in place. #}
                &#169; {{ copyright_statement | safe }} 
            </div>
        </div>
    </footer>
{% endblock %}
