$default-font-color: #333;

$primary: #2E039A;
$on-primary: #E8FAFE;
$primary-container: #12013D;
$on-primary-container: #CFCCD8;

$secondary: #E30005;
$on-secondary: #FBE8E9;
$secondary-container: #430001;
$on-secondary-container: #ECE6E6;


$tertiary: #01C7FE;
$on-tertiary: #001318;
$tertiary-container: #EBFAFE;
$on-tertiary-container: #171818;

$neutral: #8D9294;
$neutral-variant: #CFD2CF;

$surface-bright: #FCFCFC;
$surface: #F9F9F9;
$surface-dim: #E3E4E4;

$surface-container-lowest: #ffffff;
$surface-container-low: #fafafa;
$surface-container: #F8F8F8;
$surface-container-high: #F6F6F6;
$surface-container-highest: #F3F4F4;

.surface-container-lowest {
    background-color: $surface-container-lowest;
}
.surface-container-low {
    background-color: $surface-container-low;
}
.surface-container {
    background-color: $surface-container;
}
.surface-container-high {
    background-color: $surface-container-high;
}
.surface-container-highest {
    background-color: $surface-container-highest;
}

.surface-bright {
    background-color: $surface-bright;
}    

.surface {
    background-color: $surface;
}

.surface-dim {
    background-color: $surface-dim;
}


@mixin primary-pair {
    color: $on-primary;
    background-color: $primary;
}

.color-primary-pair {
    @include primary-pair ;
}


@mixin secondary-pair {
    color: $on-secondary;
    background-color: $secondary;
}

.color-secondary-pair {
    @include secondary-pair ;
}


@mixin teriary-pair {
    color: $on-tertiary;
    background-color: $tertiary;
}

.color-teriary-pair {
    @include teriary-pair ;
}


@mixin primary-container-pair {
    color: $on-primary-container;
    background-color: $primary-container;
}

.color-primary-container-pair {
    @include primary-container-pair;
}


@mixin secondary-container-pair {
    color: $on-secondary-container;
    background-color: $secondary-container;
}

.color-secondary-container-pair {
    @include secondary-container-pair ;
}

@mixin tertiary-pair {
    color: $on-tertiary;
    background-color: $tertiary;
}

.color-tertiary-pair {
    @include tertiary-pair ;
}


@mixin tertiary-container-pair {
    color: $on-tertiary-container;
    background-color: $tertiary-container;
}

.color-tertiary-container-pair {
    @include tertiary-container-pair ;
}

@mixin neutral-pair {
    color: $default-font-color;
    background-color: $neutral;
}

.color-neutral-pair {
    @include neutral-pair;
}

@mixin neutral-variant-pair {
    color: $default-font-color;
    background-color: $neutral-variant;
}

.color-neutral-variant-pair {
    @include neutral-variant-pair;
}
