$default-font-color: #333;

$primary: #2E039A;
$on-primary: #E8FAFE;
$secondary: #E30005;
$on-secondary: #FBE8E9;
$tertiary: #01C7FE;
$on-tertiary: #001318;
$tertiary-container: #EBFAFE;

$neutral: #8D9294;
$neutral-variant: #CFD2CF;