@use 'colors';
@use 'fonts';
@use 'footer';

// The next line can be removed when you're ready to develop your homepage.
@use 'components/color-palette';

body {
    margin: 0;
    font-size: 16px;
    font-family: fonts.$main;
    color: colors.$default-font-color;

    background-color: colors.$tertiary-container;
    background: linear-gradient(90deg, colors.$tertiary-container 5%, colors.$neutral-variant 45%, colors.$neutral-variant 55%, colors.$tertiary-container 95%);
}

h1, h2, h3, h4, h5, h5 {
    margin: 0;
}

address, article, aside, blockquote, canvas, dd, div,
dl, dt, fieldset, figcaption, figure, footer, form,
h1, h2, h3, h4, h5, h6, header, hr, li, main, nav,
noscript, ol, p, pre, section, table, tfoot, ul, video {
    overflow: auto;
    box-sizing: border-box;
}

body>header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 0;
    min-height: 15vh;
    background-color: colors.$primary;
    color: colors.$on-primary;
    box-shadow: 0 .25em .5em 0 colors.$neutral-variant;
    border-bottom: 1px solid colors.$neutral;
}

body>header>nav {
    font-family: fonts.$expressive-primary;
}

#site_icon {
    width: 10vh;
    height: 10vh;
}

#masthead {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: .9em;
    font-family: fonts.$expressive-secondary;
    width: 100%;
}

main {
    background-color: #ffffff66;
    padding: 0 1em;
    max-width: 1200px;
    margin: 0 auto;
    min-height: 75vh;
}

main section {
    margin-bottom: 2em;
}

main section section {
    margin-bottom: 1em;
}

main section section section {
    margin-bottom: .5em;
}

p {
    margin: 0 0 1em 0;
}

main h1 {
    font-family: fonts.$expressive-primary;
}

.outer-border-box {
    max-width: 1200px;
    margin: 0 auto
}

.left-nav-group {
    float: left;
}

.left-nav-group>li {
    padding: 0 1em;
    border-left: 1px solid colors.$neutral-variant;
}

.left-nav-group>li:last-child {
    border-left: none;
    padding-left: 0;
}

.right-nav-group {
    float: right;
}

.right-nav-group>li {
    padding: 0 1em;
    border-right: 1px solid colors.$neutral-variant;
}

.right-nav-group>li:last-child {
    border-right: none;
    padding-right: 0;
}



ul.horizontal-list {
    margin: 0.25em;
    list-style: none;
    padding: 0;
    display: flex;
}

body>header>nav {
    color: colors.$on-secondary;
    background-color: colors.$secondary;
}

footer {
    box-shadow: 0 -0.25em .5em 0 colors.$neutral-variant;
    border-top: 1px solid colors.$neutral-variant;
    min-height: 10vh;
    color: colors.$on-tertiary;
    background-color: colors.$tertiary;
    font-family: fonts.$expressive-secondary;
    width: 100%;
    padding: 1em;
}

footer>.outer-border-box>nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

#copyright_container {
    text-align: center;
    font-size: 0.8em;
}
