<!DOCTYPE html>
<html>
    <head>
        {% block commmon_head_tags %}
            {% include "_common_head_tags.jinja" %}
        {%  endblock %}
        {% block extra_head_tags %}
            {% include "_extra_head_tags.jinja" %}
        {% endblock %}
    </head>
    <body>
	{% block body %}
            {% block site_header %}
	            {% include "_site_header.jinja" %}
            {% endblock %}

            {% block main %}
	            {% include "_main.jinja" %}
            {% endblock %}

            {% block footer %}
                {% include "_site_footer.jinja" %}
            {% endblock %}
        {% endblock %}
    </body>
</html>
