{% block common_head_tags %}
    <title>{{meta.title}}</title>
    <meta type="description" value="{{meta.description}}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"  />
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}" />
{% endblock %}
