{% block site_header %}
<header id="site_header">
    <div id="masthead" class="outer-border-box">
        <div id="site_icon_container">
            {% block site_header_icon %}
                <img id="site_icon" src="{{url_for("static", filename="images/oort-logo-small.png")}}" />
            {% endblock %}
        </div>
        <div id="masthead_extras">
            {% block masthead_extras %}
                <div id="tagline">
                    <em>Oort: Object Oriented Flask</em>
                </div>
            {% endblock %}
        </div>
    </div>
    <nav>
        <div class="outer-border-box">
            <ul class="horizontal-list left-nav-group">
                <li>Home</li>
            </ul>

            <ul class="horizontal-list right-nav-group">
                <li>Admin</li>
                <li>Profile</li>
                <li>Login</li>
            </ul>
        </div>
    </nav>
</header>
{% endblock %}
