{% extends "__base.jinja" %}

{# A simple page with a headline and some text. Add P tags or other formatting as desired. #}

{% block main %}
    <main>
        <header>
            <h1>{{ content_headline | e }}</h1>
        </header>
        <section>
            {{ content_text | hsdoc }}
        </section>

        <section>
            <header>
                <h2>Color Palettes</h2>
            </header>
            <p>Palette colors are set in the colors.scss file.</p>

            <section class="color-palette">
                <header>
                    <h3>Main Colors</h3>
                </header>

                <div class="palette-container">
                    <div class="color-primary-pair">
                        <header>
                            <h4>Primary &#9632;</h4>
                        </header>
                    </div>
                    <div class="color-secondary-pair">
                        <header>
                            <h4>Secondary &#9632;</h4>
                        </header>
                    </div>
                    <div class="color-tertiary-pair">
                        <header>
                            <h4>Tertiary &#9632;</h4>
                        </header>
                    </div>
                </div>
            </section>

            <section class="color-palette">
                <header>
                    <h3>Container Colors</h3>
                </header>

                <div class="palette-container">
                    <div class="color-primary-container-pair">
                        <header>
                            <h4>Primary Container &#9632;</h4>
                        </header>
                    </div>
                    <div class="color-secondary-container-pair">
                        <header>
                            <h4>Secondary Container &#9632;</h4>
                        </header>
                    </div>
                    <div class="color-tertiary-container-pair">
                        <header>
                            <h4>Tertiary Container &#9632;</h4>
                        </header>
                    </div>
                </div>
            </section>

            <section class="color-palette">
                <header>
                    <h3>Surface Colors</h3>
                </header>

                <div class="palette-container">
                    <div class="surface-dim">
                        <header>
                            <h4>Dim Surface</h4>
                        </header>
                    </div>
                    <div class="surface">
                        <header>
                            <h4>Surface</h4>
                        </header>
                    </div>
                    <div class="surface-bright">
                        <header>
                            <h4>Bright Surface</h4>
                        </header>
                    </div>
                </div>
            </section>

            <section class="color-palette">
                <header>
                    <h3>Surface Container Colors</h3>
                </header>

                <div class="palette-container">
                    <div class="surface-container-lowest">
                        <header>
                            <h4>Surface Container Lowest</h4>
                        </header>
                    </div>
                    <div class="surface-container-low">
                        <header>
                            <h4>Surface Container Low</h4>
                        </header>
                    </div>
                    <div class="surface-container">
                        <header>
                            <h4>Surface Container</h4>
                        </header>
                    </div>
                    <div class="surface-container-high">
                        <header>
                            <h4>Surface Container High</h4>
                        </header>
                    </div>
                    <div class="surface-container-highest">
                        <header>
                            <h4>Surface Container Highest</h4>
                        </header>
                    </div>
                </div>
            </section>

            <section class="color-palette">
                <header>
                    <h3>Neutral Colors</h3>
                </header>

                <div class="palette-container">
                    <div class="color-neutral-pair">
                        <header>
                            <h4>Neutral</h4>
                        </header>
                    </div>
                    <div class="color-neutral-variant-pair">
                        <header>
                            <h4>Neutral Variant</h4>
                        </header>
                    </div>
                </div>
            </section>

            <section class="color-palette">
                <header>
                    <h3>Status Colors</h3>
                </header>

                <div class="palette-container">
                    <div class="color-error-pair">
                        <header>
                            <h4>Error &#9632;</h4>
                        </header>
                    </div>
                    <div class="color-warning-pair">
                        <header>
                            <h4>Warning &#9632;</h4>
                        </header>
                    </div>
                    <div class="color-success-pair">
                        <header>
                            <h4>Success &#9632;</h4>
                        </header>
                    </div>
                </div>
            </section>

            <section class="color-palette">
                <header>
                    <h3>Status Container Colors</h3>
                </header>

                <div class="palette-container">
                    <div class="color-error-container-pair">
                        <header>
                            <h4>Error Container &#9632;</h4>
                        </header>
                    </div>
                    <div class="color-warning-container-pair">
                        <header>
                            <h4>Warning Container &#9632;</h4>
                        </header>
                    </div>
                    <div class="color-success-container-pair">
                        <header>
                            <h4>Success Container &#9632;</h4>
                        </header>
                    </div>
                </div>
            </section>

        </section>
    </main>
{% endblock %}